* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 16px;
}

nav {
  height: 100px;
  width: 100%;
  background-color: lightgray;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
nav .logo img {
  height: 50px;
}
nav a {
  color: #663300;
  text-decoration: none;
  padding-right: 10px;
}

.hero {
  height: 600px;
  width: 100%;
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero h1 {
  color: white;
  font-size: 50px;
  width: 600px;
  margin: 0 auto;
  text-align: center;
  padding-top: 250px;
}

.who-we-are {
  height: 250px;
  width: 60%;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
}

.happy-customers {
  width: 80%;
  min-height: 400px;
  margin: 0 auto;
  margin-bottom: 150px;
}
.happy-customers h2 {
  text-align: center;
  margin-bottom: 100px;
}
.happy-customers .people-cards {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.happy-customers .people-cards .person-card {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  text-align: center;
  width: 30%;
  margin: 0 auto;
  margin-top: 40px;
}
.happy-customers .people-cards .person-card img {
  margin-top: 20px;
  margin-bottom: 20px;
  height: 100px;
}
.happy-customers .people-cards .person-card p {
  width: 250px;
}

footer {
  height: 200px;
  width: 100%;
  background-color: lightgray;
}
footer .footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  margin: 0 auto;
  font-weight: bold;
  font-size: 16px;
  padding-top: 15px;
}
footer .footer h3 {
  font-size: 18px;
  color: #663300;
}
footer .footer .navigation {
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}
footer .footer .navigation a {
  text-decoration: none;
  color: #663300;
  margin-bottom: 16px;
}
footer .footer .contact {
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  color: #663300;
}

.non-home-hero {
  height: 60px;
  width: 100%;
  background-color: #663300;
  color: white;
  font-size: 50px;
  padding: 5px;
  padding-left: 50px;
}

.look-at-the-team {
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 100px;
}
.look-at-the-team img {
  height: 300px;
}
.look-at-the-team .team-text {
  width: 40%;
  text-align: center;
}

.login-box {
  height: 400px;
  width: 300px;
  background-color: lightgray;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 100px;
  padding: 20px;
  text-align: center;
}
.login-box h2 {
  font-size: 40px;
  margin-bottom: 50px;
}
.login-box input {
  font-size: 20px;
  margin-top: 20px;
  padding: 5px;
}
.login-box button {
  margin-top: 50px;
  height: 50px;
  width: 100px;
  background-color: #663300;
  color: white;
  border-radius: 10px;
}

/*# sourceMappingURL=styles.css.map */
